.hero-section__button {
  min-width: 216px;
  margin-top: 30px;
  padding: 10px 32px;
}

.footer__submit-button {
  @include centeredFlex();

  padding: 10px 28px;
  height: 50px;
}

.filter {
  @include centeredFlex();

  margin-bottom: 34px;
}

.filter__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;

  text-align: center;
  letter-spacing: inherit;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  background: $bg-second-color;

  transition-property: color, background-color, box-shadow;
  @include basicTransition();

  &:hover,
  &:focus {
    color: $main-bg-color;
    background-color: $focus-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.close__button {
  @include centeredFlex();

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  z-index: 1;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $main-bg-color;
  cursor: pointer;

  @include generalTransition(fill);

  &:hover,
  &:focus {
    fill: $focus-color;
  }
}

.submit-button-thumb {
  @include centeredFlex();
  width: 100%;
}

.submit__button {
  min-width: 200px;
  padding: 10px 52px;

  @include generalTransition(background-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
