.clients__list {
  @include centeredFlex();
	flex-wrap: wrap;
	gap: 30px;
}

.clients__item {
  @include centeredFlex();

  min-width: 170px;
  max-height: 92px;

	@media screen and(max-width: 767px) {
		width: calc(100% / 2);

		@media screen and(min-width: 768px) and(max-width: 1599px) {
			width: calc(100% / 3);
			
		}
		
	}
}

.clients__link {
  @include centeredFlex();

  width: 100%;
  height: 100%;
  border: solid 1px $for-icons-color;
  border-radius: 4px;
  color: $for-icons-color;

  transition-property: color, border-color;
  @include basicTransition;

  &:hover,
  &:focus {
    color: $focus-color;
    border-color: currentColor;
  }
}

.clients__icon {
  fill: currentColor;
}
