.contacts-list {
  display: flex;
  margin-left: auto;
  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    margin-right: 0;
  }
}

.contacts-list.mobile {
  align-items: start;
}

.contacts-list__link {
  @include centeredFlex();

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 20px;
  padding-bottom: 20px;

  @include generalTransition;

  &:hover,
  &:focus {
    color: $focus-color;
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    padding: 0;
  }
}
