.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: var(--font-style);

  color: rgba(255, 255, 255, 0.6);

  @include generalTransition;

  &:hover,
  &:focus {
    color: $focus-color;
  }
}

.footer__address,
.footer__logo-studio {
  color: $main-bg-color;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-bg-color;
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;

  width: 206px;
  height: 80px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.footer__label {
  display: inline-flex;
  padding-top: 15px;
  gap: 93px;
}

.footer__icon-send {
  margin-left: 10px;
  fill: $main-bg-color;
}
