.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.form-field:nth-child(-n + 2) {
  margin-top: 12px;
}

.check-field {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.check-label {
  padding-left: 12px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: $letter-spacing;
}