h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: $font-family;
  font-style: $font-style;
  letter-spacing: $letter-spacing;

  color: $main-color;
}

body.modal-open {
  overflow: hidden;
}

img,
.portfolio__link {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;

  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo,
.main-nav__link,
.contacts-list__link,
.footer__link,
.portfolio__link,
.mobile-social__link {
  text-decoration: none;
}

.peculiarities__description,
.team__description,
.portfolio__description,
.contacts-list__link {
  color: $fone-color;
}

.main-nav__link.current__link {
  position: relative;

  color: $focus-color;
}
