.hero-section {
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background: #2f303a;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  max-width: 1600px;

  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/bg-mobile/bg-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/bg-mobile/bg-mobile@2x.jpg);
  }

  @media screen and(min-width: 481px) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/bg-tablet/bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/bg-tablet/bg-tablet@2x.jpg);
    }
  }
  @media screen and(min-width: 769px) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/bg-desktop/bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/bg-desktop/bg-desktop@2x.jpg);
    }
  }
}

.hero-section__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
  color: $main-bg-color;

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}
