.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include generalTransition(transform);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal-form {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-form {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 32px 40px 48px;
}

.modal-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.modal-form__link {
  color: $focus-color;
}

.modal-form__check-span {
  @include centeredFlex;

  position: absolute;
  left: 18px;
  bottom: 5px;

  width: 16px;
  height: 15px;

  color: $main-color;

  border: 2px solid $main-color;
  border-radius: 2px;
}

.modal-form__check-icon {
  fill: $main-bg-color;
}

.checkbox:checked + .modal-form__check-span {
  background-color: $focus-color;
  border-color: $focus-color;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 30px;

  @include generalTransition(fill);
}

.input:focus + .modal-form__icon {
  fill: $focus-color;
}
