.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  @include centeredFlex;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current__link::after {
  display: inline-block;

  position: absolute;
  left: 0;
  bottom: -13px;
  content: '';

  width: 100%;
  height: 4px;
  
  border-radius: 2px;
  background-color: $focus-color;
}
