.thumb {
  @include centeredFlex();
  margin-bottom: 30px;
  min-height: 120px;

  border-radius: 4px;

  background-color: $bg-second-color;
}

.peculiarities__list {
  @media screen and (min-width: 768px) {
    display: flex;
		flex-wrap: wrap;
    gap: 30px;
  }
}

.peculiarities__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and(max-width: 767px) {
    text-align: center;
  }
}

.peculiarities__description {
  font-size: 14px;
  line-height: 1.7;
}

.peculiarities__item {
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
		flex-wrap: wrap;
  }

  @media screen and(min-width: 1600px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
