.team__description,
.team__title {
  font-size: 16px;
  text-align: center;
}

.team__description {
  margin-bottom: 16px;
}

.team__title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  background-color: $main-bg-color;
}

.team {
  line-height: 1.2;
  background-color: $bg-second-color;
}

.team__social {
  @include centeredFlex();

  gap: 10px;
  padding-bottom: 30px;
}
