textarea {
  width: 448px;
  height: 120px;

  margin-top: 4px;
  padding: 12px 16px;

  font-size: 12px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @include generalTransition(border);

  &:focus {
    border-color: $focus-color;
    outline: $focus-color;

    cursor: pointer;
  }
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
