$focus-color: #2196f3;
$main-color: #212121;
$fone-color: #757575;
$main-bg-color: #ffffff;
$border-color: #eeeeee;
$bg-second-color: #f5f4fa;
$for-icons-color: #afb1b8;
$main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$font-family: 'Roboto', sans-serif;
$font-style: normal;
$letter-spacing: 0.03em;
