.work {
  padding-top: 0;
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__thumb {
  @include centeredFlex();
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
